.nav {
  display: inline-block;
  background-color: lightgreen;
  font-size: 25px;
  padding: 30px;
}
ul li {
  list-style-type: none;
}

.item {
  margin-top: 20px;
}
.item a {
  color: white;
  text-decoration: none;
}
.item a.activeLink {
  color: gold;
}
